@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400,500,700&display=swap");

:root,
html.dark {
  --c-brand: #dc322f;
  --c-brand-light: var(--c-brand);

  --font-family-code: "Fira Code Nerd Font", "Fira Code", monospace;
}
