@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400,500,700&display=swap");

:root,
html.dark {
  --c-brand: #dc322f;
  --c-brand-light: var(--c-brand);

  --font-family-code: "JetBrains Mono Nerd Font", "Fira Code", monospace;

  --c-warning-bg: var(--c-tip-bg);
  --c-warning-title: var(--c-tip-title);
  --c-warning-text: var(--c-tip-text);
}

a {
  font-weight: inherit;

  code {
    color: inherit;
  }
}

.custom-container-title {
  display: none;
}
