@font-face {
  font-family: "JetBrains Mono Nerd Font";
  src: url("/pls/fonts/JetBrainsMonoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Nerd Font";
  font-style: italic;
  src: url("/pls/fonts/JetBrainsMonoItalic.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 700;
  src: url("/pls/fonts/JetBrainsMonoBold.ttf") format("truetype");
}
