@font-face {
  font-family: "Fira Code Nerd Font";
  src: url("/pls/fonts/FiraCodeRegular.ttf") format("truetype"),
    url("/pls/fonts/FiraCodeRegular.otf") format("opentype");
}

@font-face {
  font-family: "Fira Code Nerd Font";
  font-weight: 700;
  src: url("/pls/fonts/FiraCodeBold.ttf") format("truetype"),
    url("/pls/fonts/FiraCodeBold.otf") format("opentype");
}
