<a href="https://dhruvkb.dev/" class="dhruvkb"><!--
  --><span class="first">dhruv</span><!--
  --><span class="middle-last">kb</span><!--
--></a>

<style>
a.dhruvkb {
  background-image: linear-gradient(to right, var(--sol-red), var(--sol-magenta));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

span.first {
  font-weight: 900;
}
</style>
