---
import Pls from "@/components/Pls.astro";
import Stat from "@/components/Stat.astro";
---

<footer class="footer">
  <p>
    <Pls /> is free and open-source software. If you find it useful, please
    <a href="/guides/contribute/">contribute</a>.
  </p>

  <Stat />
</footer>

<style>
footer.footer {
  padding-block-start: 5rem;
  text-align: center;
}
</style>
