---
const { owner, repo } = Astro.props;
---

<gh-version data-owner={owner} data-repo={repo}><span id="version">x.y.z</span></gh-version>

<script>
  class GhVersion extends HTMLElement {
    constructor() {
      super();

      const { owner, repo } = this.dataset;
      fetch(`https://api.github.com/repos/${owner}/${repo}/releases`)
        .then((res) => {
          if (res.ok) {
            return res.json();
          } else {
            throw new Error("Network response was not OK.");
          }
        })
        .then((data) => {
          const elem = this.querySelector("#version")
          if (elem) elem.textContent = data[0].name.replace(/^v/, "");
        })
        .catch((err) => void err);
    }
  }

  customElements.define("gh-version", GhVersion);
</script>
