/** Catppuccin color palette */

:root {
  /* Used as brand colors. */
  --sol-red: #dc322f;
  --sol-magenta: #d33682;
}

pre.terminal {
  --black: #45475a;
  --bright-black: #585b70;
  --red: #f38ba8;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --blue: #89b4fa;
  --magenta: #f5c2e7;
  --cyan: #94e2d5;
  --white: #bac2de;
  --bright-white: #a6adc8;

  background-color: #1e1e2e;
  color: #cdd6f4;

  font-family: var(--__sl-font-mono);
}

:root[data-theme="light"] pre.terminal {
  --black: #bcc0cc;
  --red: #d20f39;
  --green: #40a02b;
  --yellow: #df8e1d;
  --blue: #1e66f5;
  --magenta: #ea76cb;
  --cyan: #179299;
  --white: #5c5f77;
  --bright-black: #acb0be;
  --bright-white: #6c6f85;

  background-color: #eff1f5;
  color: #4c4f69;
}

pre.terminal p {
  margin: -0.75rem -1rem;
  padding: 0.75rem 1rem;

  overflow-x: auto;
}

div.expressive-code + pre.terminal {
  margin-top: 0;
  border-top-width: 0;
}
