name: CI + CD

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit:
    name: Run unit test
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Run unit tests
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Build release
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
